.acces{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    &_title{
        color: $red;
    }

    &_div{
        display: flex;
        width: 100%;

        @include for-tablet {
            flex-direction: row;
            flex-wrap: nowrap;
        }
        @include for-mobile {
           flex-direction: column;
        }

        &_block{

            &_divimg{

                @include for-tablet {
                    display: none;
                }
                @include for-mobile {
                   display: none;
                }
            }

            &_card{
                display: flex;
                flex-direction: column;             
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                box-shadow: -5px 5px $shadow;
                border-radius: 25% 10%;
                background-color: $grey;
                margin:20px;
                width: 150px;
                height: 150px;
                text-decoration: none;
                color: black;

                &_img{
                    width: 50px;
                }

                &_text{
                    margin: 10px;
                    color: $red;
                }
            }
        }
    }
}