.footer {
    background-color: $blue;

    &_nav{
        
        padding: 0;

        &_bar{
            display: flex;
            height: 150px;
            justify-content: space-around;
            align-items: center;


            &_button{
                height: 30px;
                text-decoration: none;
                color: white;
            }
        }

    }
}