.footer {
    display: flex;
    flex-direction: column;

    &_partenair{
        height: 100px;
        background-color: $grey;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &_title{
            color: $blue;

            @include for-mobile {
                display: none;
             }
        }

        &_divimg{

            &_img{
                height: 90px;
            }

        }

    }

    &_link{
        background-color: $blue;

        &_nav{
        
        padding: 0;

        &_bar{
            display: flex;
            height: 100px;
            justify-content: space-around;
            align-items: center;


            &_button{
                height: 30px;
                text-decoration: none;
                color: white;
            }
        }
    }

    

    }
}