.who{
    display: flex;
    margin-top: 50px;
    background-color: $grey;
    height: 360px;

    @include for-tablet {
        height: auto;
    }

    @include for-mobile {
        height: auto;
    }
    
       &_art{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 20px;

        @include for-tablet {
            flex-direction: column;
        }

        @include for-mobile {
            flex-direction: column;
        }

            &_div1{
                display: flex;
                flex-direction: column;
                width: 40%;
                align-items: center;
                justify-content: center;

                @include for-tablet {
                    width: 80%;
                }
        
                @include for-mobile {
                    width: 80%;
                }

                &_title{
                    border-left: 5px solid $blue;
                    color: $red;
                    width: 300px;
                    text-align: right;
                    

                    @include for-tablet {
                        margin-left: -100px;
                        border-left: none;
                    }
            
                    @include for-mobile {
                        margin-left: -100px;
                        border-left: none;
                    }
                    
                }

                &_imgdiv{
                                  

                    &_img{
                        width: 100%;
                    }
                }
            }

            &_div2{
                
                display: flex;
                flex-direction: column;
                width: 40%;
                margin-top: 30px;

                @include for-tablet {
                    width: 80%;
                }
        
                @include for-mobile {
                    width: 80%;
                }

                &_texte{
                    text-align: justify;

                    @include for-tablet {
                        margin-left: 0px;
                        margin-right: 0px;
                    }
        
                    @include for-mobile {
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
            }
       }
}