

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       BACKGROUND        ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

html, body
{
	height : 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
	margin : 0px;
	padding : 0px;
}

html
{
	background-color : #FFFFFF;
	font-family : "Trebuchet MS" , sans-serif;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////        HEADER       ///////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

header
{
	height: 230px;
	width: 100%;
	background: url("fond.png");
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////     NAVIGATEUR HORIZONTAL     ////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

nav
{
	height: 48px;
	min-width: 600px;
	background: url("MH.png");
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-bottom: 5px;
    top: 0; left: 0; right: 0;
    
}

nav ul
{
	margin: auto;
	width: 1000px;
	display: flex;
	justify-content: space-around;
}

nav li
{
	margin-top: 15px;
	list-style-type: none;
}

nav li a:hover
{
	height: 60px;
	background-image: url(MH_hover.png);
	color: orange;
}

nav a
{
	margin: 0px;
	height: 34px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 16px;
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
}

nav li a
{
	color : #FFFFFF;
}

.Actif a
{
	color: orange;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////     MENU VERTICAL     ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

.Membre
{
	width: 200px;
	height: 735px;
	border: solid 1px; 
	background: url(fond.png);
	color: white;
}

.Membre h2
{
	margin-top: 10px;
}

.Membre li
{
	margin: 5px;
	list-style-type: none;
}

.Membre li a
{
	color: white;
}

.Membre li a:hover
{
	color: orange;
}

.Membre .Login
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 75px;
	max-height: 150px;
	overflow: auto;
	background-color: #404040;
	color: white;
}

aside h2
{
	color: white;
}

.info
{
	width: 200px;
	height: 735px;
	border: solid 1px; 
	background: url(fond.png);
}

.info .contact
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 75px;
	max-height: 200px;
	overflow: auto;
	background-color: #fffff;
	color: white;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////    STRUCTURE CENTRALE    //////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

section
{
	width: 1300px;
	margin: auto;
}

section .Conteneur
{
	display: flex;
	justify-content: space-around;
}

section .Article
{
	padding-top: 25px;
	text-align: center;
	width: 1085px;
	height: 710px;
	border: solid 1px;
	background-color: #FFFFFF;
	margin-bottom: 100px;
	overflow: auto;
}

/* ///////////////////////////////    TABLEAU PAGE D'ACCUEIL    ////////////////////////////// */

.Article table
{
	border-collapse: collapse;
}

.Article td, th
{
	border: 2px solid;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////          TEXTE          ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

p
{
	margin-top : 0px;
}

/* /////////////////////////////////  Infos titre : h1 = 32px, h2 = 24px; h3 =20.8px, h4 = 16 px, h5 = 12.8px, h6 = 11.2px  ///////////////////////////////// */

h1
{
	font-size : 19px;
	margin-top : 0px;
}

h2
{
	font-size : 16px;
	margin-top : 0px;
}
		
a
{
	color : #288de8;
	text-decoration : none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       PIED DE PAGE       //////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

footer
{
	position: fixed;
	bottom: 0px;
	border-top: solid;
	border-width: 5px;
	border-color: #3d3d3d;
	background : url("pied_de_page.png");
	width:100%;
	height: 75px;

}
.footer
{
	position: fixed;
	bottom: 0px;
	border-top: solid;
	border-width: 5px;
	border-color: #3d3d3d;
	background : url("pied_de_page.png");
	width:100%;
	height: 75px;

}
footer a
{
	padding-top: 8px;
	display: flex;
	justify-content: center;
	color : #FFFFFF;
}
PDP
{
	position: fixed;
	bottom: 0px;
	width:100%;
	height: 100%;

}